<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" 
			 connectionString="Data Source=Buraks_Pc\SQLEXPRESS;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False;initial catalog=DiyetProgramıDb"
		     providerName="Microsoft.EntityFrameworkCore.SqlServer"/>
	</connectionStrings>
</configuration>